<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <!--声明IE使用edge渲染，最高级别的IE内核 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--
  width:可视区域的宽度，值可为数字或关键词device-width
  height:同width
  intial-scale:页面首次被显示是可视区域的缩放级别，取值1.0则页面按实际尺寸显示，无任何缩放
  maximum-scale=1.0, minimum-scale=1.0;可视区域的缩放级别，
  maximum-scale用户可将页面放大的程序，1.0将禁止用户放大到实际尺寸之上。
  user-scalable:是否可对页面进行缩放，no 禁止缩放
  -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!--控制几款双核浏览器的渲染核心为webkit-->
  <meta name="renderer" content="webkit">
  <!--清除页面缓存-->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <title>船山旅游云大数据</title>
  <link href="./styles/login.css" rel="stylesheet">
</head>
<body>
<div class="app">
  <div class="login-wrapper">
    <h3>用户登录</h3>
    <form class="login" action="login" method="post"> 
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/><br />
      <div class="el-input el-input--prefix">
        <input name="username" type="text" autocomplete="off" placeholder="请输入用户名" class="el-input__inner">
        <span class="el-input__prefix">
            <img class="el-input__icon" src="./images/user.png">
        </span>
      </div>
      <div class="el-input el-input--prefix">
        <input name="password" type="password" autocomplete="off" placeholder="请输入用密码" class="el-input__inner">
        <span class="el-input__prefix">
          <img class="el-input__icon" src="./images/user.png">
        </span>
      </div>
      <div th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="error"></div>
      <input type="submit" value="登录" class="el-button el-button--primary"/>
    </form>
  </div>
</div>
<!-- built files will be auto injected -->
</body>
</html>
