html,body{
    background-color:#070c41;
    height: 100%;
    margin: 0;
    padding: 0;
 }
.app {
    height: 100%;
    #background-image:url("../images/bg.jpg");
    background-size:cover;
}
.app .title{
    position: absolute;
    color: white;
    top: 30px;
    left: 30px;
    font-size: 38px;	
}

.el-input{
    position:relative;
    font-size:14px;
    margin-bottom: 33px;
}

.el-input__inner {
    -webkit-appearance: none;
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    border: 1px solid #00D2FF;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}

.el-input--prefix .el-input__inner {
    padding-left: 30px;
}

.el-input__prefix {
    height: 100%;
    position: absolute;
    left: 5px;
    top: 0;
    color: #c0c4cc;
    display: flex;
    align-items:center;
}

.el-input__icon{
    width: 20px;
    height: 20px;
}

.el-button {
    margin-top: 65px;
    width: 100%;
    display: block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border:none;
    background:linear-gradient(0deg,rgba(1,119,228,1),rgba(0,184,255,1));
    color: #ffffff;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.login-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    width: 450px;
    height: 450px;
    box-sizing: border-box;
    border:2px solid rgba(0,184,255,0.1);
}

.login-wrapper h3 {
    font-size: 30px;
    color:rgba(255,255,255,1);
    text-align: center;
    margin: 10px 0px;
}

.login-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.login-wrapper .login-context{
    position: absolute;
    box-sizing: border-box;
    display: flex;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.login-wrapper .horn{
    width: 30px;
    height: 30px;    
    position: absolute;
}

.login-wrapper .horn1{
    left: 0;
    top: 0;
    border-left: solid 5px #00b8ff;
    border-top: solid 5px #00b8ff;    
}
.login-wrapper .horn2{
    right: 0;
    top: 0;
    border-right: solid 5px #00b8ff;
    border-top: solid 5px #00b8ff;
}
.login-wrapper .horn3{
    left: 0;
    bottom: 0;
    border-left: solid 5px #00b8ff; 
    border-bottom: solid 5px #00b8ff;   
}
.login-wrapper .horn4{
    right: 0;
    bottom: 0;
    border-right: solid 5px #00b8ff;
    border-bottom: solid 5px #00b8ff;    
}

.error{
    color: red;
    margin-top: -30px;
}

form.login {
    margin: auto;
    width: 300px;
}