html,body{
    background-color:#070c41;
}
.el-input{
    position:relative;
    font-size:14px;
    margin-bottom: 33px;
}

.el-input__inner {
    -webkit-appearance: none;
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    border: 1px solid #00D2FF;
    box-sizing: border-box;
    color: #ffff;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}

.el-input--prefix .el-input__inner {
    padding-left: 30px;
}

.el-input__prefix {
    height: 100%;
    position: absolute;
    left: 5px;
    top: 0;
    color: #c0c4cc;
    display: flex;
    align-items:center;
}

.el-input__icon{
    width: 20px;
    height: 20px;
}

.el-button {
    margin-top: 65px;
    width: 100%;
    display: block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border:none;
    background:linear-gradient(0deg,rgba(1,119,228,1),rgba(0,184,255,1));
    color: #ffffff;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.login-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    width: 400px;
    height: 400px;
    padding: 50px;
    border:2px solid rgba(0,184,255,0.1);
}

.login-wrapper h3 {
    font-size: 38px;
    color:rgba(255,255,255,1);
    text-align: center;
}
.error{
    color: red;
    margin-top: -30px;
}